# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Egyetem\I ev\II felev\OOP\OOP_CsillagAlex_AUT_C\Labor_8\Inheritance_Polymorphism_Aggregation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
